<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
  rel="stylesheet"
/>

<header class="bg-green-600 text-white">
  <div class="max-w-7xl mx-auto px-4 py-6 flex items-center justify-between">
    <!-- Logo and Site Name -->
    <div class="flex items-center">
      <span class="font-bold text-xl">MySite</span>
    </div>

    <!-- Navigation Menu -->
    <nav class="space-x-4">
      <a [routerLink]="'/home'" class="hover:text-gray-300">Home</a>
      <a [routerLink]="'/history'" class="hover:text-gray-300">History</a>
      <a [routerLink]="'/live'" class="hover:text-gray-300">Live</a>
      <a [routerLink]="'/point-table'" class="hover:text-gray-300"
        >Point Table</a
      >
    </nav>
    <div></div>
  </div>
</header>
<div class="px-28 py-8">
  <router-outlet></router-outlet>
</div>
