<div class="container">
    <h1 class="text-4xl font-extrabold text-gray-800">Live Cricket Score</h1>
    <div class="card-container flex-wrap flex md:flex-row flex-col">
      @for (match of allMatches; track $index) {
  
      <div class="p-2 md:w-[25%] w-full">
        <app-match-card  [matches] ="match" ></app-match-card>
      </div>
  
      } @empty { There is no match }
    </div>
  </div>
  