<div class="table-container">
  <h1 class="text-4xl font-extrabold text-gray-800">Point Table</h1>
  <table
    class="shadow-lg text-center mt-8 min-w-full bg-white border-collapse shadow-lg rounded-lg overflow-hidden"
  >
    <thead class="text-center bg-gray-200 text-gray-700">
      <tr>
        @for (heading of tableHeading; track $index) {
        <th class="py-2 px-3 text-left">{{ heading }}</th>

        }
      </tr>
    </thead>
    <tbody class="text-gray-600">
      @for (teams of pointTable; track $index) {
      <tr class="hover:font-bold hover:bg-gray-100 hover:scale-110 transition-all cursor-pointer" [ngClass] ="{
        'bg-green-200':$index<=4,
        'gr-red-200':$index>4
      }">
        @if ($index>0) { @for (item of teams; track $index) {
        <td class="py-3 px-4">{{ item }}</td>

        } }
      </tr>
      }

      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
